INFLUXDB_DB==
INFLUXDB_USER==
INFLUXDB_USER_PASSWORD==
INFLUXDB_HOST==
INFLUXDB_PORT==
INFLUXDB_RETENTION==
MQTT_BROKER_HOST==
MQTT_BROKER_PORT==
GF_ROOT_URL==
GF_ADMIN_USER==
GF_ADMIN_PASSWORD==